@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: "Bebas Neue";
    --fonte-android: 'Android';
}
 
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
    margin: 0px;
}

a.externo::after{
    content: '\00A0\1F517';
}

p{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    margin:auto;
    box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.589);
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);
}

header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.315);
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}

main{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.589);
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8;
}

main h2{
    font-family: var(--fonte-android), Times, serif;
    font-size: 1.3em;
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

aside ul{
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

footer{
    background-color: var(--cor5);
    text-align: center;
    font-size: .8em;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.589);
}

footer > p {
    margin: 0px;
}


